.task-preview{

    margin: 0 auto;
    background-color: #cacaca;
    margin: 8px 0;
    padding: 7px;

    .title-input{
        font-size: 1.125rem;
    }
    .importance-label{
        margin:5px 4px 0 0;
    }
    .create-and-count{
        margin: 0px 0 0 4px;
        font-size: 1.125rem;
        font-weight: 100;
    }




}