.task-preview{

    margin: 0 auto;
    background-color: #cacaca;
    margin: 8px 0;
    padding: 7px;

    .title-input{
        font-size: 1.125rem;
    }
    .importance-label{
        margin:5px 4px 0 0;
    }
    .create-and-count{
        margin: 0px 0 0 4px;
        font-size: 1.125rem;
        font-weight: 100;
    }


    .task-success{
        padding: 40px 30px;    
        color: #000000ad;
        width: 120px;
    }
    .done-task{
        background-color: #00800085;
    }
    .feild-task{
        background-color: #ff000061;
    }
    
    .remove-btn{
        background-color: #ab3939;
        color: white;
        padding: 7px;
    }
    .start-btn{
        background-color: #129c12;
        color: white;
        padding: 7px;
    }


}