.task-page{
    width: 700px;
    margin: 0 auto;

    .task-header{
        text-align: center;
        margin: 30px 0 0 0;
    }
    .remove-done-btn{
        background-color: #6680ffa1;
        width: 160px;
        height: 38px;

        &:hover {
            color: white;
            background-color: #2347fa;
        }
        @media screen and (max-width: $narrow-breakpoint){
            margin-left: 10px;
        }
        @media screen and (max-width: $mobile-breakpoint){
            width: 122;
            height: 28px;
            
        }
    }

    @media screen and (max-width: $narrow-breakpoint){
        width: 100%;
    }
}